
   .project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0rem auto;
    row-gap: 2rem;
  }
  .project h1{
    font-size:3rem;
    margin:0rem 0rem 0rem 10rem;
    color:rgb(207, 194, 11);
  }
  
  .project-card,
  .project-card2 {
    display: flex;
    flex-direction: row;
    width: 100rem;
    height: 30rem;
    padding: 20px;
    border: 1px solid #190909;
    border-radius: 5px;
    text-align: center;
    background: rgba(38, 150, 200, 0.04);
    transition: margin 0.5s ease; 
  }
  .details{
    display:flex;
    flex-direction:column;
  }
  
  .details h2{
    margin-top: -10px;
    margin-bottom: 10px;
    color:rgb(168, 186, 3);
    font-size: 3rem;
  }

.details_ul {
    list-style-type: none;
    padding: 0;
    align-items:center;
    vertical-align: middle;
    display: table-cell;
}

.details_ul li {
  font-family: sans-serif;
    color: aliceblue;
    font-size: 1.6rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
  .project-card img {
    width: 30%;
    height: 100%;
    border-radius: 5px;

  }
  
  
  .project-card p {
    
    font-size: 1.8rem;
    color:aliceblue;

  }
  .project-card2 img {
    width: 30%;
    height: 100%;
    border-radius: 5px;

  }
  
  
  .project-card2 p {
    font-size: 1.8rem;
    color:aliceblue;

  }

  .git-link{
    font-size: 2.3rem;
    text-decoration: none;
    color:blue;
    margin-left:2rem;
  }

  .get-link:hover{
    cursor:pointer;
  }
  .head{
    display:flex;
    flex-direction:row;
    margin-left: 10rem;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }