.edu{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:2px;
    width:100%;
}
.edu h1{
    font-size:3rem;
    margin:4rem 0rem 2rem 10rem;
    color:rgb(207, 194, 11);
}
.education-card{
    display:flex;
    flex-direction: column;
    width:100rem;
    height:11rem;
    padding:0px 0px 100px 20px;
    margin:1rem 0rem 1rem 10rem;
    border:1px solid rgb(21, 0, 0);
    background-color:#181d4b;
    border-radius: 5px;  
}
.education-card:hover{
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.411);
  }
.education-card h3{
    font-size: 2rem;
    color:rgb(232, 233, 233);
}

.education-card h2{
    margin-top: -1rem;
    font-size:3rem;
    color:aquamarine;
}

.education-card p{
    margin-top:-0.5rem;
    font-size: 2rem;
    color:blanchedalmond;
}