
.home{
  display: flex;
  flex-direction: column;
}

.container{
  margin: 0rem auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

.text-zone{
  display:flex;
  flex-wrap: wrap;
  width:40%;
}
.solid-logo {
  margin-top: 0rem;
  margin-left: 0rem;
  height:40rem;
  width: 40rem;
  display:flex;
  flex-wrap: wrap;
}

  .text-zone h1 {
    color: #fff;
    font-size: 6rem;
    line-height: 6rem;
    font-family: 'Coolvetica';
    font-weight: 400;


    img {
      margin-left: 2rem;
      opacity: 0;
      width: 6rem;
      height:6rem;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  .text-zone h2 {
    color: #dad9d9;
    margin-top: 0rem;
    font-weight: 400;
    font-size: 3rem;
    font-family: sans-serif;
    letter-spacing: 3px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid #ffd700;
    margin-top: 0rem;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }


.projects{
  margin-top:7rem;
  position:static;
  background-color:#021d43;
  width:100%;
}






